* {
  box-sizing: border-box;
}

html,
body,
div,
section,
figure,
p,
a,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #dadada;
  overflow-y: scroll;
}

a {
  transition: 0.3s;
}

a:hover {
  color: #0078ae;
}
